<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809427059680-fr18ls9fli85as3vdffbqtu8jhkm48bs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809427059680-fr18ls9fli85as3vdffbqtu8jhkm48bs</string>
	<key>API_KEY</key>
	<string>AIzaSyAGLyjFiyTFujEwei_E9W5rgH05uoB6T9A</string>
	<key>GCM_SENDER_ID</key>
	<string>809427059680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kedaprofile.matthewmukherjee</string>
	<key>PROJECT_ID</key>
	<string>keda-6371d</string>
	<key>STORAGE_BUCKET</key>
	<string>keda-6371d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809427059680:ios:728ee78a8be322e7f32185</string>
</dict>
</plist>